<style>
  .shared-header-cont{display:none;}
  @media (max-width: 900px) {
    .form-cont{
      flex-direction: column-reverse;
    }
    .new-user{
      height: 8.7rem;
    }
  }
</style>
<div class="form-cont">
  <div class="new-user", style="background-image: url('<%= asset_path 'signUp.svg' %>');"></div>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <div class="error-messages">
      <%= render "devise/shared/error_messages", resource: resource%>
    </div>
    <h1 class="form-title">sign up</h1>
    <h4 class="form-pictures-label"> Pick a Picture (scroll down for more options) </h4>
    <div class="pictures-wrapper">
      <% if @icons.blank? %>
      <% else %>
        <% @icons.map do |i| %>
          <div class="pictures-cont">
            <%= f.radio_button :profile_picture, i, class:'picture-checkbox', required: true %>
            <%= image_tag "user_icons/#{i}", class:'profile-picture' %>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="form-inputs">
      <%= f.text_field :name, autofocus: true, autocomplete: "name", placeholder: "Full Name", class: "form-input" %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email Address", class: "form-input" %>
      <%= f.password_field :password, autocomplete: "new-password", placeholder: "Password", class: "form-input" %>
      <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Confirm Password", class: "form-input" %>
    </div>


    <%= f.submit "Sign up", class:"form-submit" %>

<div class="form-buttons">
    <p> already have an account? <%= link_to "log in", new_session_path(resource_name) %></p>
    <%= link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name) %>
    <%= render "/shared/buttons" %>
</div>

  <% end %>
</div>
