<style>
  .shared-header-cont{display:none;}
  @media (max-width: 733px) {
    .form-cont{
      flex-direction: column-reverse;
    }
  }
</style>
<div class="form-cont">
  <div class="new-user", style="background-image: url('<%= asset_path 'signUp.svg' %>');"></div>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), class: 'test') do |f| %>
    <div class="error-messages">
      <%= render "devise/shared/error_messages", resource: resource%>
    </div>
    <h1 class="form-title">sign up</h1>
    <%= f.text_field :name, autofocus: true, autocomplete: "name", placeholder: "Full Name", class: "form-input" %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email Address", class: "form-input" %>
    <%= f.password_field :password, autocomplete: "new-password", placeholder: "Password", class: "form-input" %>
    <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Confirm Password", class: "form-input" %>
    <%= f.submit "Sign up", class:"form-submit" %>
    <%= render "devise/shared/links" %>
    <%= render "/shared/buttons" %>
  <% end %>
</div>
