<style>
  .shared-header-cont{display:none;}
  @media (max-width: 500px) {
    .form-cont{
      padding: 0 1rem
    }
  }
</style>
<div class="form-cont">
  <div class="form-image", style="background-image: url('<%= asset_path 'editPass.svg' %>');"></div>
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
    <h1 class="form-title">Change your password</h1>
    <%= f.hidden_field :reset_password_token %>

    <div class="form-inputs">
    <%= f.password_field :password, autofocus: true, autocomplete: "new-password", placeholder: "New Password", class:"form-input" %>
    <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Confirm New Password", class:"form-input" %>
</div>
    
    <%= f.submit "Update Password", class:"form-submit" %>

<div class="form-buttons">
    <%= render "shared/buttons" %>
</div>

  <% end %>
</div>
