<div class="shared-header-cont">
  <nav class="shared-header-nav">
    <% if user_signed_in? %>
      <ul class="shared-header-ul">
        <li class="shared-header-li"><%= link_to current_user.name, '/', class:"navbar-title" %> </li>
        <li class="shared-header-li"><%= button_to "Sign out", destroy_user_session_path, :method => :get, class: "btn" %> </li>
      </ul>
    <% else  %>
      <ul class="shared-header-ul">
        <li class="shared-header-li"> <%= link_to "Sign in", new_user_session_path, class: "btn" %>  </li>
        <li class="shared-header-li"> <%= link_to "Sign up", new_user_registration_path, class: "btn" %> </li>
      </ul>
    </nav>
  <% end %>
</div>
<div class="alerts">
  <% if notice.present? %>
    <p class="alerts-text"><%= notice %></p>
  <% end %>
  <% if alert.present? %>
    <p class="alerts-text"><%= alert %></p>
  <% end %>
</div>
