<style>
  .shared-header-cont{display:none;}
  @media (max-width: 500px) {
    .form-cont{
      padding: 0 1rem
    }
}
</style>
<div class="form-cont">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <h1 class="form-title">log in</h1>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email Address", class:"form-input" %>
    <%= f.password_field :password, autocomplete: "current-password", placeholder: "Password", class:"form-input" %>
    <%= f.submit "Log in", class:"form-submit" %>
    <%= link_to "Log in", new_session_path(resource_name) %>
    <%= link_to "Forgot your password?", new_password_path(resource_name) %>
    <%= render "/shared/buttons" %>
  <% end %>
  <div class="new-user", style="background-image: url('<%= asset_path 'signIn.svg' %>');"></div>
</div>
